{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
<div class="container header-container">
    <div class="row">
        <div class="col-7 text-center my-auto">
            <h2 class="text-orangered my-3">Shopping Bag</h2>
        </div>
    </div>

    <div class="row">
        <div class="col-7">
            {% if bag_items %}
            <div class="table-responsive">
                <table class="table table-sm text-white">
                    <thead>
                        <tr>
                          <th scope="col">Product Description</th>
                          <th scope="col">Price</th>
                          <th scope="col">Quantity</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                          <th></th>
                          <td></td>
                          <td></td>
                        </tr>
                    </tbody>
                </table>
            </div>
            {% else %}
                <p>Your bag is empty</p>
                <a href="{% url 'products' %}" class="btn btn-light">
                    <span>Back to Products</span>
                </a>
            {% endif %}
        </div>
    </div>

</div>
{% endblock %}