{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="container h-100">
        <div class="row h-100">
            <div class="col-12 my-auto">
                <h3>Tired of making school lunches every morning?</h3>
                <p>Order online and get fresh lunches delivered straight to your child's school!</p>
                <p>Register for a free account to place an order.</p>
            </div>
        </div>
    </div>
{% endblock %}