{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="container header-container h-100">
        <div class="row h-100">
            <div class="col-7 my-auto">
                <h3>Tired of making school lunches every morning?</h3>
                <p><strong>Order online and get fresh lunches delivered straight to your child's school!</strong></p>
                <p><strong>Register for a free account to place an order.</strong></p>
                <p>Currently we serve the following schools: X, Y and Z</p>
            </div>
        </div>
    </div>
{% endblock %}