{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
<div class="container header-container">
    <div class="row">
        <div class="col-12 col-md-6 text-center my-auto">
            <h2 class="text-orangered my-3">Checkout</h2>
        </div>
    </div>

    <div class="row">
        <div class="col-12 col-md-6">
            <p>Please fill out the order form</p>
            <form action="{% url 'checkout' %}" method="POST" id="payment-form">
                {% csrf_token %}
                <!-- name and address -->
                <fieldset>
                    <legend class="fieldset-label">Your details</legend>
                    {{ order_form.full_name | as_crispy_field }}
                    {{ order_form.phone_number | as_crispy_field }}
                    {{ order_form.email | as_crispy_field }}
                    {{ order_form.street_address1 | as_crispy_field }}
                    {{ order_form.street_address2 | as_crispy_field }}
                    {{ order_form.town_or_city | as_crispy_field }}
                    {{ order_form.county | as_crispy_field }}
                    {{ order_form.postcode | as_crispy_field }}
                    {{ order_form.country | as_crispy_field }}
                </fieldset>
                <!-- payment details -->
                <fieldset>
                    <legend class="fieldset-label">Payment Details</legend>
                    <!-- stripe card element will go here -->
                    <div></div>
                    <!-- display form errors -->
                    <div></div>
                </fieldset>

                <div class="submit-button text-right">                    
                    <a href="{% url 'view_bag' %}" class="btn btn-light">
                        <span>Back to Bag</span>
                    </a>
                    <button id="submit-button" class="btn btn-light">
                        <span>Place Order</span>
                    </button>
                    <p class="text-orangered">
                        <span>Your card will be charged €{{ total|floatformat:2 }}</span>
                    </p>
                </div>
            </form>
        </div>
    </div>

</div>
{% endblock %}