/* -------------------------- Global style */

/*google fonts*/
@import url('https://fonts.googleapis.com/css2?family=Cookie&family=Roboto&display=swap');

html {
    height: 100%;
}

body {
    background: url('/media/homepage_background.jpg') no-repeat center center fixed;
    background-size: cover;
    color: whitesmoke;
    font-family: Roboto;
    height: calc(100vh - 122px);
}

/* -------------------------------- Header */

.logo-font {
    color: orangered !important;
    font-family: 'Cookie', cursive;
    font-size: 400%;
}

.header-container {
    padding-top: 122px;
}

.bg-black{
    background-color: rgba(24, 22, 22, 0.726);
}

.text-orangered {
    color: orangered !important;
}

.text-whitesmoke {
    color: whitesmoke !important;
}
