<div class="collapse navbar-collapse justify-content-end" id="navbarNavDropdown">
    <ul class="navbar-nav">
        <!-- home -->
        <li class="nav-item">
            <a class="nav-link text-whitesmoke" href="{% url 'home' %}">Home</a>
        </li>
        <!-- menu options -->
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle text-whitesmoke" href="#" id="all-products-link" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Menu Options
            </a>
            <div class="dropdown-menu" aria-labelledby="all-products-link">
                <a class="dropdown-item" href="#">Cold Pasta/Salads</a>
                <a class="dropdown-item" href="#">Sandwiches/Wraps</a>
                <a class="dropdown-item" href="#">Fruit/Snacks</a>
                <a class="dropdown-item" href="#">Drinks</a>
                <a class="dropdown-item" href="#">All Products</a>
            </div>
        </li>
        <!-- account -->
        <li class="nav-item dropdown">
            <a class="nav-link text-orangered dropdown-toggle" href="#" id="user-options" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <span><i class="fas fa-user"></i></span> Account
            </a>
            <div class="dropdown-menu" aria-labelledby="user-options">
                <a href="#" class="dropdown-item">Product Management</a>
                <a href="#" class="dropdown-item">My Profile</a>
                <a href="#" class="dropdown-item">Logout</a>
                <a href="#" class="dropdown-item">Register</a>
                <a href="#" class="dropdown-item">Login</a>
            </div>
        </li>
    </ul>
</div>